<h1 class="text-center mb-3">
  المعاملات 
</h1>
<td><%= link_to 'رجوع للخلف', all_transactions_path, class: "btn btn-secondary m-3" %></td>

<table class="table table-bordered table-sm table-striped max-width">
  <thead class="thead-dark">
    <tr>
      <th scope="col">المعاملة</th>
      <th scope="col">قيمة المعاملة</th>
      <th scope="col">التفاصيل</th>
      <th scope="col">الدرج قبل المعاملة</th>
      <th scope="col">الدرج بعد المعاملة</th>
      <th scope="col">التاريخ</th>
      <%# <th scope="col"></th> %>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr scope="row">
        <td><%= transaction.title %></td>
        <td><%= transaction.transaction_value %></td>
        <td><%= transaction.notes %></td>
        <td><%= transaction.dorg_was %></td>
        
        <% if transaction.transaction_type == 'decrease' %>
          <td><%= transaction.dorg_was - transaction.transaction_value %></td>
          <% else %>
          <td><%= transaction.dorg_was + transaction.transaction_value %></td>
        <% end %>
        <td><%= transaction.created_at.strftime('%F || %I:%M || %p') %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

